<h3>Create an account.</h3>
<form class="ui form" [formGroup]="authForm">
  <div class="field">
    <label for="">Username</label>
    <input formControlName="username" />
    {{ authForm.get('username')?.errors | json }}
  </div>
  <div class="field">
    <label for="">Password</label>
    <input formControlName="password" />
  </div>
  <div class="field">
    <label for="">Password confirmation</label>
    <input formControlName="passwordConfirmation" />
  </div>
  <button class="ui submit button primary">Submit</button>
</form>
<div>
{{ authForm.errors | json }}
</div>