<div class="field">
  <label>{{ label }}</label>

  <input *ngIf="controlType === 'input'" [type]="inputType" [formControl]="control">
  <textarea *ngIf="controlType === 'textarea'" name="" [formControl]="control" cols="30" rows="10"></textarea>

  <div *ngIf="showErrors()" class="ui pointing red basic label">
    <p *ngIf="control.errors.required">
      Value is required
    </p>
    <p *ngIf="control.errors.email">
      Invalid email format
    </p>
    <p *ngIf="control.errors.minlength">
      Value you entered is
      {{ control.errors.minlength.actualLength }}
      characters length, but it must be at least
      {{ control.errors.minlength.requiredLength }}
    </p>
    <p *ngIf="control.errors.maxlength">
      Value you entered is
      {{ control.errors.maxlength.actualLength }}
      characters length, but it must be no more than
      {{ control.errors.maxlength.requiredLength }}
    </p>
    <p *ngIf="control.errors.pattern">
      Invalid format
    </p>
    <p *ngIf="control.errors.nonUniqueUsername">
      This username is taken
    </p>
    <p *ngIf="control.errors.noConnection">
      We don't know why you can not use this username. Try again later
    </p>
  </div>
</div>